/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Top Navigation Bar*/

{
  border: 1px solid black;
}

.top-nav {
  height: 70px;
  background-color: #3F75B8;
  border-bottom: 1px solid black;
}

.fl-logo img{
  height: 40px;
  width: 40px;
  float: left;
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
  vertical-align: middle;
  line-height: 5px;
}


.top-nav  h1{
  font-size: 45px;
  vertical-align: middle;
  display: inline-block;
  color: #FFF;
  margin-left: 5px;
  float: left;
  margin-top: 15px;
}

.search-field form {
  width: 750px;
  display: inline-block;
  margin: 0px 50px;
}

.nav-search .search {
  width: 100%;
  margin: 25px 0px 15px 0px;
}

.top-nav .user {
  font-size: 25px;
  color: #FFF;
  text-align: center;
  display: inline-block;
  line-height: 5px;
  margin-left: 55px;
}

/*User Profile Navigator*/

