/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/*Top Navigation Bar*/

 {
  border: 1px solid black;
}

body{

}

.top-nav {
  display: block;
  margin: 0px auto;
  height: 70px;
  width: 100%;
  background-color: #3F75B8;
  border-bottom: 1px solid black;
}

.fl-logo img{
  height: 40px;
  width: 40px;
  float: left;
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
  vertical-align: middle;
  line-height: 5px;
}


.top-nav  h1{
  font-size: 45px;
  vertical-align: middle;
  display: inline-block;
  color: #FFF;
  margin-left: 5px;
  float: left;
  margin-top: 15px;
}

.search-field form {
  width: 750px;
  display: inline-block;
  margin: 0px 50px;
}

.nav-search .search {
  width: 100%;
  margin: 25px 0px 15px 0px;
}

.top-nav .user {
  font-size: 25px;
  color: #FFF;
  text-align: center;
  display: inline-block;
  line-height: 5px;
  margin-left: 55px;
}

/*User Profile Navigator*/

.user-nav {
  width: 800px;
  display: block;
  margin: 0px auto;
}

.user-background {
  width: 100%;
  height: 300px;
  background-color: gray;
}

.user-background img{
  width: 100%;
  height: 100%;
}

.user-name {
  font-size: 18px;
  position: absolute;
  display: inline-block;
}

.user-nav .nav{
  width: 100%;
  height: 60px;
}

.nav .user-img{
  float: left;
  width: 120px;
  height: 99%;
  text-align: center;
  border: 1px solid black;
  position: relative;
}

.user-img img{
  position: absolute;
  height: 100px;
  width: 100px;
  bottom: 25px;
  left: 10px;
}
.nav .nav-ele{
  float: left;
  width: 114px;
  height: 99%;
  text-align: center;
  border: 1px solid black;
  line-height: 50px;
}

.nav-ele p{
  font-weight: bold;
}

.nav-ele span{
  font-weight: none;
  color: gray;
}

.nav .edit-profile{
  float: right;
  width: 212px;
  height: 99%;
  text-align: right;
  text-decoration: underline;
  color: blue;
  border: 1px solid black;
  line-height: 50px;
}

.lower-section {
  width: 800px;
  display: block;
  margin: 15px auto;
  border: 1px solid black;
}

.header {
  background-color: #C0C0CA;
  height: 30px;
  width: 100%;
}

.header p{
  display: inline-block;
  margin-left: 370px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.header .cta-edit-profile {
  display: inline-block;
  float: right; 
  margin-top: 5px;
}

.header .cta-edit-btn{
  background-color: #3F75B8;
  color: #FFF;
  border: 1px solid black;
  text-align: center;
}

.info-box{
  width: 100%;
  height: 450px;
}

.basic-info {
  width: 50%;
}

.basic-info table{
  margin-left: 5px;
}

.basic-info th{
  font-size: 30px;
  font-weight: bold;
}

.basic-info td{
  padding-top: 20px;
}

.user-quote {
  width: 40%;
  margin: 0px auto;
}

.user-quote div {
  padding-top: 30px;
  padding-left: 15px;
}

.user-quote h3{
  font-weight: bold;
  font-size: 30px;
  padding: 15px 0px;
}

.user-quote p{
  
}

.contact-info {
  width: 50%;
}

.contact-info table{
  margin-left: 25px;
}

.contact-info th{
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.contact-info td{
  padding-top: 20px;

}

.about-me {
  width: 50%;
  bottom: 20px;
}

.about-me div {
  padding-top: 30px;
  padding-left: 15px;
}

.about-me h3{
  font-weight: bold;
  font-size: 30px;
  padding: 15px 0px;
}

.about-me p{
}